@{
    ViewData["Title"] = "Chat";
}

<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <div id="chatMessages"></div>
    <input type="text" id="messageInput" />
    <button onclick="sendMessage()">Send</button>

    <script>
        var socket = new WebSocket("ws://localhost:7222/Chat/WebSocketHandler");

        socket.onmessage = function (event) {
            var message = event.data;
            var chatMessagesDiv = document.getElementById("chatMessages");
            var messageParagraph = document.createElement("p");
            messageParagraph.textContent = message;
            chatMessagesDiv.appendChild(messageParagraph);
        };

        function sendMessage() {
            var messageInput = document.getElementById("messageInput");
            var message = messageInput.value;
            socket.send(message);
            messageInput.value = "";
        }
    </script>
</body>
</html>
