body {
    font-size: 14px;
    color: black;
    position: relative;
    min-height: 100%;
    background-color: white;
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
        font-family: "Karla", sans-serif;
    }
}

.orange-text {
    color: #FFA500;
}

.purple-gradient {
    background: linear-gradient(180deg, #b200ff, #0000);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
