﻿@{
    ViewData["title"] = "Choose the post type";
}


<div class="container purple-gradient p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light">@ViewData["title"]</h1>
    </div>
        <div class="d-flex gap-5 mt-5">
        <a class="btn btn-primary w-50" asp-controller="Post" asp-action="CreatePost">Post Default</a>
            <a class="btn btn-primary w-50" asp-controller="Post" asp-action="CreatePostImage">Post with image</a>
        </div>
</div>


