@using SocialWeave.Extensions;

@model SocialWeave.Models.ViewModels.CommentViewModel
@{
    ViewData["Title"] = "New Comment in post";
}

<style>
    .container {
        margin-top: 100px;
    }

    .card {
        border: none;
        border-radius: 15px;
        background: linear-gradient(135deg, #000080, #4B0082);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .form-label {
        color: #fff;
    }

    .form-control {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 12px;
        margin-bottom: 20px;
    }

        .form-control:focus {
            background-color: rgba(255, 255, 255, 0.3);
        }

    .btn-primary {
        border: none;
        border-radius: 10px;
        padding: 12px 30px;
        font-size: 18px;
    }

        .btn-primary:focus {
            box-shadow: none;
        }

    .text-danger {
        color: #FF5252;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <h2 class="text-center mb-4">@ViewData["Title"]</h2>
                <form asp-action="CreateComment" asp-controller="Post" method="post">
                    <input type="hidden" asp-for="PostId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Text" class="form-label">Comment:</label>
                        <textarea class="form-control" rows="5" asp-for="Text"></textarea>
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary"><i class="bi bi-exposure mx-2"></i>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
