@model SocialWeave.Models.ViewModels.PostViewModel
@{
    ViewData["Title"] = "New Post";
}

<style>

    .post {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 0px;
    }

    .form-label {
        color: #fff;
    }

    .form-control {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 12px;
        margin-bottom: 20px;
    }

    .custom-border {
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #000080, #4B0082);
        margin: 40px 0;
    }

        .form-control:focus {
            background-color: rgba(255, 255, 255, 0.3);
        }

    .btn-primary {
        border: none;
        border-radius: 10px;
        padding: 12px 30px;
        font-size: 18px;
    }

        .btn-primary:focus {
            box-shadow: none;
        }

    .text-danger {
        color: #FF5252;
    }

    .info-text {
        background: linear-gradient(to right, #000080, #4B0082);
        -webkit-background-clip: text;
        color: transparent;
        padding: 10px 20px;
        margin-bottom: 20px;
    }
</style>


<div class="container">
    <div class="custom-border" style="margin-top: 120px"></div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="post p-4">
                <div class="info-text"><h2 class="text-center mb-4">@ViewData["Title"]</h2></div>
                <form asp-action="CreatePost" asp-controller="Post" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Description:</label>
                        <textarea class="form-control" rows="5" asp-for="Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary"><i class="bi bi-exposure me-2"></i>Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="custom-border"></div>
</div>

