<div class="container">
    <div class="info-text text-center"><h1><strong>Social Weave</strong></h1></div>
    <p>
        <strong>
            Hello! I'm Pedro, and I've developed Social Weave, a fully functional social network using ASP.NET. My goal was to create an engaging and intuitive social media experience for users. This application is 100% functional, with a focus on the back-end. I manipulate data using the code-first workflow and connect to SQLServer for storage.
        </strong>
    </p>
</div>
<div class="custom-border text-center"></div>
<div class="info-text text-center"><h1><strong>Contact</strong></h1></div>
<h8 class="text-center" style="margin-right: auto; margin-left: auto; display: block;">
    <i class="bi bi-envelope mx-2"></i><strong>Email:</strong>
    <a class="text-primary" href="mailto:devpedrohenri@gmail.com"><strong>devpedrohenri@gmail.com</strong></a>
</h8>
<h8 class="text-center" style="margin-right: auto; margin-left: auto; margin-top: 20px; display: block;">
    <i class="bi bi-github mx-2"></i><strong>GitHub:</strong>
    <a class="text-primary" href="https://github.com/PedroHenriqDev/-Social-Network-Asp-Net" target="_blank"><strong>PedroHenriqDev/Social-Network-Asp-Net</strong></a>
</h8>

<style>
    .custom-border {
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #000080, #4B0082);
    }

    .info-text {
        background: linear-gradient(to right, #000080, #4B0082);
        -webkit-background-clip: text;
        color: transparent;
        padding: 10px 20px;
        margin-bottom: 20px;
    }
</style>
