@{
    ViewData["Title"] = "Password Reset Confirmation";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="login-container">
            <h2>Password Reset Confirmation</h2>
            <p>An email with instructions to reset your password has been sent. Please check your inbox.</p>
            <a class="" asp-controller="User" asp-action="Login">Back to Login</a>
        </div>
    </main>
</div>
