@model SocialWeave.Models.ViewModels.UserViewModel

<form method="post" asp-controller="User" asp-action="Login">
    <div class="container">
        <main role="main" class="pb-3">
            <div class="login-container">
                <h2>Login</h2>
                <hr />
                <div class="mb-3">
                    <label for="Email" class="form-label">Email: </label>
                    <input type="email" class="form-control" asp-for="Email" id="Email" placeholder="Enter your email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password: </label>
                    <div class="input-group">
                        <input type="password" class="form-control" asp-for="Password" id="Password" placeholder="Enter your password">
                        <button class="btn btn-outline-secondary" type="button" id="togglePassword">Show</button>
                    </div>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-50">Login</button>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div>
                        <a class="" asp-controller="User" asp-action="Register">Sign Up</a>
                    </div>
                    <div>
                        <a class="" asp-controller="User" asp-action="ForgotPassword">Forgot Password</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</form>

@section Scripts {
    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            var passwordInput = document.getElementById('Password');
            var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.textContent = type === 'password' ? 'Show' : 'Hide';
        });
    </script>
}
