@model SocialWeave.Models.ConcreteClasses.User

@{
    ViewData["title"] = "Logout";
}

<div class="container bg-gradient p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light">@ViewData["title"]</h1>
        <h2>    
            Are you sure you want to leave @Model.Name?
            </h2>
    </div>
    <form method="post" asp-controller="User" asp-action="LogoutPost">
    <div class="d-flex gap-5 mt-5">
         <button type="submit" class="btn btn-primary w-50">Logout</button>
        <a class="btn btn-primary w-50" asp-controller="Home" asp-action="Index">Return</a>
    </div>
    </form>
</div>


